# Terraform local state and backups
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
tfplan*
**/__pycache__/
*.pyc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# SSH Keys
lab-key
lab-key.pub

# Environment Variables
.env
.env.local

# AWS access key exports
*_accessKeys.csv

# Kaggle API credentials
kaggle.json
